.container-fluid {
    font-family:'Open Sans', sans-serif;
}
.page-header {
    border: none;
}
.row {
    border-width:1px 0;
    border-color: #eee;
    border-style: solid;
    min-height: 50px;
    vertical-align: middle;
    padding: 30px 0;
}
.row:nth-child(even) {
    background-color : #f8f8f8;
}
.row div:first-child {
    font-weight: bold;
    vertical-align: middle;
    font-size: 25px;
}